DWS_PROCESSOR_API_KEY=xxxxxxxxxxxxxxxx
DWS_EXTRACTION_API_KEY=xxxxxxxxxxxxxxxx
SERPAPI_API_KEY=xxxxxxxxxxxxxxxx
SUPABASE_URL=https://dyezryddrjndolbrrvua.supabase.co
SUPABASE_KEY=xxxxxxxxxxxxxxxx
FOXIT_CLIENT_ID=xxxxxxxxxxxxxxxx
FOXIT_CLIENT_SECRET=xxxxxxxxxxxxxxxx
FOXIT_GENERATE_URL=https://na1.fusion.foxit.com/document-generation/api/generate
PORT=8000